.panel {
	border: 2px solid rgb(15, 108, 3);
	width: 24%;
	height: 100vh;
	overflow-y: scroll;
	margin-left: 15%;
	float: left;
}

.panel h3 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	margin: 10px;
	padding: 5px;
	display: inline-block;
}

.panel span {
	display: inline;
	/* border: 1px solid lime; */
	background-color: rgb(8, 111, 8);
	padding: 5px;
	border-radius: 10px;
	float: right;
	margin: 10px;
	width: 20px;
	text-align: center;
}

.panel span:hover {
	cursor: pointer;
}

.panel button {
	margin: 5px 20px 10px 20px;
	width: 90%;
}

.panel .block {
	width: 100%;
	border: 2px solid rgb(15, 108, 3);
	padding: 10px;
	word-wrap: break-word;
	height: auto;
	box-sizing: border-box;
	background-color: rgb(16, 63, 16);
}

.panel a {
	text-decoration: none;
}

.panel .block h3 {
	margin-left: -5px;
}

.panel .block h3,
p {
	margin-top: 0px;
}

.panel .block p {
	font-size: 14px;
	color: rgb(28, 182, 28);
}
